html {
  font-size: 14px;
}
body {
  padding-top: 50px;
  padding-bottom: 95px;
}
#logo {
  text-align: center;
}
h1 {
  margin-top: 0;
}
#welcome {
  margin-top: 0;
}
.navbar-inverse .navbar-brand {
  color: white;
}
#notices {
  padding: 0;
  text-align: center;
}
.modal .modal-header {
  border-radius: 4px 4px 0 0;
  color: white;
}
#matrix {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#matrix > div {
  width: 100%;
  display: flex; 
  flex-basis: 100%;  
  justify-content: center;
  flex-direction: column;
}
.box {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.box .header {
  margin-bottom: 8px;
}
.box h2 {
  margin: 0 0 2px 0;
  font-size: 1.50rem;
  font-weight: bold;
  color: white;
}
.box h3 {
  margin: 0;
  font-size: 1.20rem;
  color: white;
}
.urgent { background-color: #f14141; }
.plan { background-color: #3cb0ea }
.delegate { background-color: #89b309; }
.eliminate { background-color: grey; }
.navbar-fixed-bottom {
  padding: 10px 0;
  background-color: #222;
}
.list-group-item {
  padding: 5px 8px 5px 5px;
}
.box .body .badge {
  padding: 5px 0;
  background-color: white;
}
.list-group {
  margin-bottom: 10px;
}
.box .body .badge .urgent {
  background-color: white;
}
.box .body .badge .plan {
  background-color: white;
}
.box .body .badge .delegate {
  background-color: white;
}
.box .body .badge .eliminate {
  background-color: white;
}
.box input[type=checkbox], input[type=radio] {
  position: relative;
  top: 2px;  
}
.box input[type=checkbox] {
  margin: 4px 4px 0;
}
.box .body .btn-sm {
  padding: 0;
  border: none;
}
.box .body .date {
  float: right;
  margin-right: 10px;
  font-size: .9rem;
  margin-top: 3px;
}
.box .body .delegatedto {
  margin-right: 10px;
  font-size: .9rem;
  margin-top: 3px;
  margin-left: 25px;
  font-weight: bold;
}
p.copyright {
  text-align: center;
  font-size: .9rem;
}
a:hover {
  cursor: pointer;
}
.box .action {
  color: white;
}
.box .action .sort {
  float: left;
  text-align: left;
}
.box .action .new {
  float: right;
  text-align: left;
  margin-top: 25px;
}
.navbar-fixed-bottom {
  color: white;
}
.btn-newtask {
  font-size: 1.25rem;
}
#urgentSortByList, #planSortByList,
#delegateSortByList, #eliminateSortByList {
  height: 38px;
  padding: 0 5px;
  font-size: 14px;
}
.sort .form-group {
  margin-bottom: 0;
}
.list-group-item button.btn {
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
}
#urgentBox .list-group-item button {
  width: 175px;
  margin-left: 5px;
}
#planBox .list-group-item button {
  width: 140px;
  margin-left: 5px;
}
#delegateBox .list-group-item button {
  width: 175px;
  margin-left: 5px;
}
#eliminateBox .list-group-item button {
  width: 215px;
  margin-left: 5px;
}

/* Urgent list item sizes */
@media screen and (max-width: 449px) and (min-width: 350px) {
  #urgentBox .list-group-item button {
    width: 70%;
  }
}
@media screen and (max-width: 549px) and (min-width: 450px) {
  #urgentBox .list-group-item button {
    width: 75%;
  }
}
@media screen and (min-width: 550px) {
  #urgentBox .list-group-item button {
    width: 80%;
  }
}

/* Plan list item sizes */
@media screen and (max-width: 449px) and (min-width: 350px) {
  #planBox .list-group-item button {
    width: 55%;
  }
}
@media screen and (max-width: 549px) and (min-width: 450px) {
  #planBox .list-group-item button {
    width: 70%;
  }
}
@media screen and (min-width: 550px) {
  #planBox .list-group-item button {
    width: 75%;
  }
}

/* Delegate list item sizes */
@media screen and (max-width: 449px) and (min-width: 350px) {
  #delegateBox .list-group-item button {
    width: 60%;
  }
}
@media screen and (max-width: 549px) and (min-width: 450px) {
  #delegateBox .list-group-item button {
    width: 70%;
  }
}
@media screen and (min-width: 550px) {
  #delegateBox .list-group-item button {
    width: 75%;
  }
}

/* Eliminate list item sizes */
@media screen and (max-width: 449px) and (min-width: 350px) {
  #eliminateBox .list-group-item button {
    width: 86%;
  }
}
@media screen and (max-width: 549px) and (min-width: 450px) {
  #eliminateBox .list-group-item button {
    width: 89%;
  }
}
@media screen and (min-width: 550px) {
  #eliminateBox .list-group-item button {
    width: 92%;
  }
}